@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{  /* the star indicates you are applying the css to all the html code*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
   

}
a { 
  text-decoration: none; 
  color: inherit; 

}
.app{
  min-height: 100vh;
  color: white;
  background: linear-gradient(#0b004e, #1d152f, #002834);



}